<!DOCTYPE html>

<html>
<head>
    <title>Quest Store</title>
    <meta charset="UTF-8">
    <meta name="description" content="Quest Store for Codecool">
    <meta name="keywords" content="quests">
    <meta name="author" content="Kamil Brodziak, Hubert Strumiński, Maciek Paluszkiewicz">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/contact.css">

    <script src="../static/scripts/cookies.js" async></script>
</head>
<body>
<div id="container">
    <main>
        <section>
            <div id="form">
                <form method="POST">
                    <h1>Contact</h1>
                    <label>Name:</label><span style="color: red;"><sup>*</sup></span>
                    <br />
                    <input type="text" id="name" name="name" placeholder="Enter your name" />
                    <br /><br />
                    <label>Email:</label><span style="color: red;"><sup>*</sup></span>
                    <br />
                    <input type="text" id="email" name="email" placeholder="Enter your emaIl" /><br />
                    <br />
                    <label>Message:</label><span style="color: red;"><sup>*</sup></span>
                    <br />
                    <textarea id="message" name="message" placeholder=" Write here.." rows="7"></textarea>
                    <br /><br />
                    <input type="submit" id="btnSend" value="Send" />

                </form>
            </div>
        </section>
    </main>
    <nav>
        <ul id="navOptions">
            <li><a id="main_anchor" href="{{ main }}">Main</a></li>
            <li class="{{ accountDis }}"><a id="account_anchor" href="{{ account }}">Account</a></li>
            <li class="{{ questsDis }}"><a id="quests_anchor" href="{{ quests }}">Quests</a></li>
            <li id="active"><a id="contact_anchor" href="{{ contact }}">Contact</a></li>
            <li class="{{ logoutDis }}"><a id="logout_anchor" href="../logout">Logout</a></li>
        </ul>
    </nav>
</div>
</body>
</html>